<h2>Add new celebrity</h2>
<form method="POST" action="/celebrities/create">
    <label>Name:</label>
    <input required type="text" name="name" placeholder="Tom Cruise"/>
    <label>Occupation:</label>
    <input type="text" name="occupation" placeholder="actor"/>
    <label>Catch phrase:</label>
    <input type="text" name="catchPhrase" placeholder="I go without sleep, I just go hard."/>
    <button type="submit">Add it</button>
</form>